* {
    margin: auto;
    text-align: center;
    padding: 0;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
}

.h {
    margin: 20px 0px 0px 0px;
}

.m {
    margin: 20px 0px 40px 0px;
}

.title {
    padding: 2px;
}

.content {
    padding: 2px;
}

.file {
    padding: 8px;
    width: 480px;
    margin-top: 10px;
    border-radius: 6px;
    background-color: lavender;
}

.file:hover {
    background-color: rgb(204, 204, 233);
}

img {
    max-width: 280px;
    max-height: 380px;
}

a:link {
    color: gray;
}

a:visited {
    color: black;
}

audio {
    display: none;
}
