* {
    margin: auto;
    text-align: center;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

.h {
    padding: 6px 0px 6px 0px;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
}

.m {
    margin: 30px 0px 30px 0px;
}

.f {
    margin: 20px 0px 20px 0px;
}

.title {
    padding: 2px;
}

.content {
    padding: 2px;
}

.file {
    padding: 8px;
    min-width: fit-content;
    max-width: fit-content;
    margin-top: 12px;
    border-radius: 4px;
    background-color: rgb(240, 240, 252);
}

.file:hover {
    background-color: rgb(204, 204, 233);
}

.content > img {
    max-width: 280px;
    max-height: 380px;
    box-shadow: 0 4px 8px 0 rgba(24, 0, 244, 0.2);
}

a:link {
    color: gray;
    text-decoration: none;
}

a:visited {
    color: black;
}

audio {
    display: none;
}

#links {
    display: none;
}

#sns-links {
    margin-top: 20px;
}

.qr {
    max-width: 150px;
}

#tab-works {
    color: #404040;
}

#tab-links {
    color: #b5b5b5;
}

#tab-blogs {
    color: #b5b5b5;
}
